<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/pages/home.css">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <title>Catatan: home</title>
    </head>
    <body>
        <header>
            <h1>✍️ What's new? </h1>
            <menu>
                <div class="input-container">
                    <img src="img/search-white.svg" alt="" class="input-icon">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <div class="input-button-container">
                        <button class="input-button"><img src="img/settings-black.svg" alt="" class="icon"></button>
                    </div>
                </div>
                <a href="/" class="button-primary" id="account"><img src="img/account.svg" alt="" class="icon"></a>
            </menu>
        </header>

        <main>
        </main>

        <footer>
            <a href="write" class="button-primary button-large"><img src="img/add.svg" alt="" class="icon"></a>
        </footer>
    </body>
</html>