<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/pages/read.css">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <title>Catatan: read</title>
    </head>
    <body>
        <header>
            <menu>
                <a href="home"><img src="img/arrow-back-white.svg" alt="" class="icon"></a>
                <div class="buttons-container">
                    <button><img src="img/bookmark-add-white.svg" alt="" class="icon"></button>
                    <button><img src="img/delete-white.svg" alt="" class="icon"></button>
                </div>
            </menu>
        </header>

        <main>
        </main>

        <footer>
            <a href="write" class="button-primary button-large"><img src="img/edit.svg" alt="" class="icon"></a>
        </footer>
    </body>
</html>