.input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 3rem;
    border: none;
    color: white;
    background: #1A1A1A;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-left: 3.5rem;
    max-width: 500px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.input-icon {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 2;
    // left: 1rem;
}

.input-button-container {
    height: 3rem;
    width: 3rem;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
}

.input-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}


input::placeholder {
    // padding-left: 2rem;
    color: white;
    opacity: 0.7;
    font-size: 1rem;
}

#submit {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}