header {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#search {
    width: 500px;
    border-radius: 0.5rem 0 0 0.5rem;
}

#account {
    width: 3rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}